<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyptest">

    <application
        android:name="controller.ap_controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fyptest">
        <activity
            android:name=".AdvisorAppointmentPage"
            android:label="@string/title_activity_advisor_appointment_page"
            android:theme="@style/Theme.Fyptest.NoActionBar"></activity>
        <activity android:name=".AdvisorPage" />
        <activity
            android:name=".AppointmentPage"
            android:label="@string/title_activity_appointment_page"
            android:theme="@style/Theme.Fyptest.NoActionBar" />
        <activity
            android:name=".advisor_dashboard"
            android:label="@string/title_activity_advisor_dashboard"
            android:theme="@style/Theme.Fyptest.NoActionBar" />
        <activity android:name=".advisor_Login" />
        <activity android:name=".student_dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>